@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url("/fonts/JetBrainsMono-Regular.eot");
    src: local("JetBrainsMono-Regular"),
        url('/fonts/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
        url("/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-Regular.woff") format("woff"),
        url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    unicode-range: U+000-5FF; /* Latin glyphs */
    font-display: swap;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1a1b1e;
    color: white;
    font-family: 'JetBrainsMono-Regular';
}

.content-wrapper {
    margin: 0 auto;
    padding-top: 25vh;
    height: 100%;
    width: 75%;
}

.icon {
    
    display: block;
    float: left;
}

footer {
    margin-top:  15vh;
    color: #cdcdcd;
}

footer a {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
}

svg {
    fill:#cdcdcd;
}

svg:hover {
    fill: white;
}

.container {
    display: table;
}

.container > .item {
    display: inline-block;
    vertical-align: middle;
    padding-right: 32px;
    padding-top: 16px
}

@media only screen and (max-width: 600px) {
    .container > .item:nth-of-type(2){
        max-width: 96px;
    }
}

@media only screen and (min-width: 1024px) {
    .container > .item:nth-of-type(2){
        padding-right: 20vw;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .container > .item:nth-of-type(2){
        padding-right: 10vw;
    }
}

.container > .item:last-of-type {
    padding-right: 0;
}

.container > .item.grow {
    width: 100%;
}

.email-link {
    display: inline-block;
    position: relative;
    margin-left: 40px;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
}

.email-link:hover {
    border-bottom-color: currentColor;
}

.email-link::before {
    display: block;
    position: absolute;
    left: -32px;
    top: -4px;
    content: "";
    width: 28px;
    height: 28px;
    background: url('https://api.iconify.design/mdi:email-outline.svg?color=%23cdcdcd') no-repeat center center / contain;
}

.email-link:hover::before {
    background: url('https://api.iconify.design/mdi:email-outline.svg?color=%23ffffff') no-repeat center center / contain;
}

a {
    color: #cdcdcd;
    text-decoration: none;
    
}

a:hover {
    color: white;
}