@use "poppins";
@use "variables" as *;
@use "base";

body {
    width: 100%;
    min-height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $gap;

    > * {
        width: 100%;
        max-width: 640px;
    }
}

// Header
header {
    text-align: center;
    margin: $gap 0px calc($gap * 2);
}

.clazz-profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

h1 {
    margin: $gap 0px calc($gap * 0.75);
    font-size: $font-size-large;
    font-weight: 700;
}

h2 {
    font-size: $font-size-medium;
    margin-bottom: $gap;
}

main {
    display: flex;
    flex-direction: column;
    gap: $gap
}

.clazz-profile-links {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

// Button Styles
.clazz-button {
    display: block;
    text-align: center;
    background-color: $primary-color;
    color: $link-color;
    padding: $button-padding;
    border-radius: $border-radius;
    text-decoration: none;
    font-size: $font-size-link;
    transition: background-color 0.3s;

    &:hover {
        background-color: $hover-color;
    }
}

.clazz-button-container a {
    &:hover {
        background-color: $hover-color;
    }
}

// Social Links
.clazz-social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: $gap;
    gap: calc($gap / 2);
}

.clazz-social-link-container {
    a {
        display: inline-block;
        filter: brightness(0) saturate(100%) invert(34%) sepia(3%) saturate(2463%) hue-rotate(176deg) brightness(90%) contrast(90%);
        padding: calc($gap /2 ) $gap;
        transition: color 0.3s ease;
        &:visited {
            filter: brightness(0) saturate(100%) invert(34%) sepia(3%) saturate(2463%) hue-rotate(176deg) brightness(90%) contrast(90%);
        }
        &:hover {
            filter: brightness(0) saturate(100%) invert(60%) sepia(53%) saturate(460%) hue-rotate(94deg) brightness(88%) contrast(94%);
        }
    }
}

// Footer
footer {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: flex-end;
    margin-top: $gap;
    font-size: $font-size-small;
    text-align: center;
}

// Utility Classes
.clazz-hidden {
    display: none;
}
.clazz-text-center {
    text-align: center;
}